* {
  box-sizing: border-box;
  font-family: "Lucida Sans", sans-serif;
  font-size: 16px;
  text-align: center;
}

.header-nav {
height: 75px;
width: 100%;
border: gray 2px solid;
}

.left-para {
  height: 150px;
  width: 100%;
  border: gray 2px solid;
}

.para-container {
  height: 250px;
  width: 100%;
  border: gray 1px solid;
}
  
.para-container #para {
height: 125px;
width: 100%;
border: gray 1px solid;
}

.picture-container {
 height: 500px;
 width: 100%;
 border: gray 1px solid;
}

.picture-item {
  height: 250px;
  width: 50%;
  align-items: inline-block;
  float: left;
  border: 1px solid gray;
}

.last-para {
  height: 80px;
  width: 100%;
  border: gray 2px solid;
}

@media only screen and (max-width: 767px) {
  /* For mobile phones: */
  [class=""] {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
/* For desktop: */
.header-nav {
  width: 100%;
  height: 80px;
}

.left-para {
  width: 20.833%;
  height: 480px;
  float:left;
}

.para-container {
  width: 79.167%;
  height: 160px;
  float:right;
}

.para-container #para {
  width: 50%;
  height: 160px;
  align-items: inline-block;
  float:right;
}

.picture-container {
  width: 79.167%;
  height: 199.998px; 
  float: right;
}

.picture-item {
  width: 25%;
  height: 199.998px;
  align-items: inline-block;
}

.last-para {
  width: 79.167%;
  height: 119.9996px;
  float: right;
}
}